<footer class="page-footer font-small blue" style="left:0;bottom:0;width:100%;
background-color:#e6dcdc;color:rgb(5, 4, 4);text-align:center;">
<div class="footer-copyright text-center py-2">2020 Copyright:<a href="">Techcreatix</a>

</div>

</footer>